@font-face {
    font-family: 'Techno Race';
    src: url('TechnoRace-Italic.woff2') format('woff2'),
        url('TechnoRace-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

